<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.IndexresumeMapper">

    <resultMap id="BaseResultMap" type="com.example.bean.Indexresume">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="Select" resultType="com.example.bean.Indexresume">
        select * from indexresume where userID = #{userID}
    </select>

    <insert id="Insert" parameterType="com.example.bean.Indexresume" useGeneratedKeys="true" keyProperty="id">
        insert into indexresume (userID,realName,phoneNum,birthYear,education,exPosition,exSalaryLow,exSalaryHigh,workArea,isSecret)
        values(#{userID},#{realName},#{phoneNum},#{birthYear},#{education},#{exPosition},#{exSalaryLow},#{exSalaryHigh},#{workArea},#{isSecret})
    </insert>

    <update id="Update" parameterType="com.example.bean.Indexresume" useGeneratedKeys="true" keyProperty="id">
        update indexresume
        set realName=#{realName},phoneNum=#{phoneNum},birthYear=#{birthYear},
        education=#{education},exPosition=#{exPosition},exSalaryLow=#{exSalaryLow},
        exSalaryHigh=#{exSalaryHigh},workArea=#{workArea},isSecret=#{isSecret}
        where userID=#{userID};
    </update>

</mapper>