<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.JobMapper">

    <resultMap id="BaseResultMap" type="com.example.bean.Job">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="SelectAll" resultType="com.example.bean.Job">
        select * from job
    </select>

    <select id="Select" resultType="com.example.bean.Job">
        select * from job where jobID = #{jobID}
    </select>

    <insert id="Insert" parameterType="com.example.bean.Job">
        insert into job(jobName,jobHighSalary,jobLowSalary,jobPlace,education,jobType,userID,jobDescribe,jobWelfare,avatarUrl)
        values(#{jobName},#{jobHighSalary},#{jobLowSalary},#{jobPlace},#{education},#{jobType},#{userID},#{jobDescribe},#{jobWelfare},#{avatarUrl})
    </insert>

    <update id="Update" parameterType="com.example.bean.Job">
        update job
        set jobName=#{jobName},jobHighSalary=#{jobHighSalary},
        jobLowSalary=#{jobLowSalary},jobPlace=#{jobPlace},
        education=#{education},jobType=#{jobType},
        userID=#{userID},jobDescribe=#{jobDescribe},
        jobWelfare=#{jobWelfare},avatarUrl=#{avatarUrl}
        where ID=#{ID}
    </update>

</mapper>