<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.JobMapper">

    <resultMap id="BaseResultMap" type="com.example.bean.Job">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="SelectAll" resultType="com.example.bean.Job">
        select * from job
    </select>

    <select id="Select" resultType="com.example.bean.Job">
        select * from job where jobID = #{jobID}
    </select>

    <select id="SelectSend" resultType="com.example.bean.Job">
        select * from job where userID = #{userID}
    </select>

    <select id="SelectRegion" resultType="com.example.bean.Job">
        select * from job where region like #{region} or specificLocation like #{region}
    </select>

    <select id="SelectHighPay" resultType="com.example.bean.Job">
        select * from job where maxWages > 10000
    </select>

    <select id="SelectIncludeKey" resultType="com.example.bean.Job">
        select * from job where recruitPosition like #{key} or jobTitle like #{key} or jobDescription like #{key}
        or welfare1 like #{key} or welfare2 like #{key} or welfare3 like #{key} or welfare4 like #{key}
        or welfare5 like #{key} or label1 like #{key} or label2 like #{key} or label3 like #{key}
        or mode like #{key}
    </select>

    <insert id="Insert" parameterType="com.example.bean.Job">
        insert into job(recruitPosition,jobTitle,maxWages,minWages,region,specificLocation,corporateName,minEducation,mode,jobDescription,recruitNum,
        userID,publisherName,publisherAvatarUrl,welfare1,welfare2,welfare3,welfare4,welfare5,label1,label2,label3)
        values(#{recruitPosition},#{jobTitle},#{maxWages},#{minWages},#{region},#{specificLocation},#{corporateName},#{minEducation},#{mode},#{jobDescription},
        #{recruitNum},#{userID},#{publisherName},#{publisherAvatarUrl},#{welfare1},#{welfare2},#{welfare3},#{welfare4},#{welfare5},#{label1},#{label2},#{label3})
    </insert>

    <update id="Update" parameterType="com.example.bean.Job">
        update job
        set recruitPosition=#{recruitPosition},jobTitle=#{jobTitle},maxWages=#{maxWages},minWages=#{minWages},region=#{region},
        specificLocation=#{specificLocation},corporateName=#{corporateName},minEducation=#{minEducation},mode=#{mode},jobDescription=#{jobDescription},
        recruitNum=#{recruitNum},userID=#{userID},publisherName=#{publisherName},publisherAvatarUrl=#{publisherAvatarUrl},welfare1=#{welfare1},
        welfare2=#{welfare2},welfare3=#{welfare3},welfare4=#{welfare4},welfare5=#{welfare5},label1=#{label1},label2=#{label2},label3=#{label3}
        where jobID=#{jobID}
    </update>

</mapper>