<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.MessageRecruitMapper">

    <resultMap id="BaseResultMap" type="com.example.bean.MessageRecruit">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="Select" resultType="com.example.bean.MessageRecruit">
        select * from messagerecruit where userID = #{userID}
    </select>

    <delete id="Delete">
        DELETE from messagerecruit where ID = #{ID};
    </delete>

    <insert id="Insert" parameterType="com.example.bean.MessageRecruit">
        insert into messagerecruit (userID,otherID,otherAvatarUrl,otherUserName,latestMessage,latestMessageTime)
        values(#{userID},#{otherID},#{otherAvatarUrl},#{otherUserName},#{latestMessage},#{latestMessageTime})
    </insert>

    <update id="Update" parameterType="com.example.bean.MessageRecruit">
        update messagerecruit
        set otherID=#{otherID},otherAvatarUrl=#{otherAvatarUrl},otherUserName=#{otherUserName},
        latestMessage=#{latestMessage},latestMessageTime=#{latestMessageTime}
        where userID=#{userID};
    </update>

</mapper>