<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ResumeMapper">

    <resultMap id="BaseResultMap" type="com.example.bean.Resume">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="Select" resultType="com.example.bean.Resume">
        select * from resume where userID = #{userID}
    </select>

    <insert id="Insert" parameterType="com.example.bean.Resume">
        insert into resume(userID,realName,phoneNum,birthYear,education,workYear,intentionJob,privacy)
        values(#{userID},#{realName},#{phoneNum},#{birthYear},#{education},#{workYear},#{intentionJob},#{privacy})
    </insert>

    <update id="Update" parameterType="com.example.bean.Resume">
        update resume
        set realName=#{realName},phoneNum=#{phoneNum},birthYear=#{birthYear},
        education=#{education},workYear=#{workYear},
        intentionJob=#{intentionJob},privacy=#{privacy}
        where userID=#{userID};
    </update>

</mapper>