<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.userMapper">

    <resultMap id="BaseResultMap" type="com.example.bean.user">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="SelectUser" resultType="com.example.bean.user">
        select * from sender where id = #{id}
    </select>

    <insert id="InsertUser" parameterType="com.example.bean.user" useGeneratedKeys="true" keyProperty="id">
        insert into sender (userName)
                         values
                         (#{userName})
    </insert>

</mapper>